{% extends 'base.html.twig' %}

{% block title %}Inscription Snowtricks{% endblock %}

{% block body %}

<p>
    confirmation d'inscription (à améliorer plus tard)
</p>
<p>
    vous êtes inscrits avec le login {{ utilisateur.login }} !
</p>

{% endblock %}