<p>
    Vous êtes inscrits à snowtricks avec le login {{ utilisateur.login }} !
</p>
<p>
    Dernière étape : la validation de votre compte. Veuillez, pour valider votre compte, cliquer sur le lien ci dessous.
</p>
<p>
    {{ url("confirmer_inscription", {"slug" : utilisateur.slug, "code" : utilisateur.aVerifier}) }}
</p>