{% extends 'base.html.twig' %}

{% block title %}réinitialiser mot de passe{% endblock %}

{% block body %}

    <div style="max-width : 500px;" class="container jumbotron mt-5 bg-info text-white">
        <p>
            Un email vous a été envoyé pour réinitialiser le mot de passe. Veuillez vérifier votre boite mail.
        </p>
    </div>

{% endblock %}