{% extends 'base.html.twig' %}

{% block title %}réinitialiser mot de passe{% endblock %}

{% block body %}

    <div style="max-width : 500px;" class="container jumbotron mt-5">
        <h5 class="text-center mb-4">
            Mot de passe oublié
        </h5>
        <form action="" method="post">
            <div class="form-group mb-5">
                <label for="login">
                    login
                </label>
                <input type="text" name="login" id="login" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary d-block m-auto">
                Réinitialiser le mot de passe
            </button>
        </form>
    </div>

{% endblock %}