{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold text-uppercase">
                    snowtricks
                </h1>
                <p class="lead">
                    Site communautaire de figures de snowboard
                </p>
            </div>
        </div>
    </div>
</header>

<p style="margin-top: -60px; height: 60px; font-size: 2em;" class="mr-3 text-right">
    <a href="#tricks">
        <i class="fas fa-arrow-down" style="color: #fea;"></i>
    </a>
</p>

<div id="corps">
    <div id="tricks">
        <div class="row m-3 mt-4">
            {% for figure in figures %}
                {% if loop.index > 15 %}
                    <div class="figure col-sm-6 col-md-4 col-lg-3 col-xl-2 d-none">
                {% else %}
                    <div class="figure col-sm-6 col-md-4 col-lg-3 col-xl-2 d-block">
                {% endif %}
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <a href="{{ path("figure_affichage", {"slug" : figure.slug}) }}">
                            {% if figure.illustrations|length > 0 %}
                                <img src="{{ figure.illustrations[0].url }}" alt="{{ figure.illustrations[0].alt }}" class="miniatureFigure">
                            {% else %}
                                <img src="/images/enTete.jpg" alt="image par défaut" class="miniatureFigure">
                            {% endif %}
                            <div class="card-header">{{ figure.nom }}</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<p class="text-secondary photographe text-right mt-5 mr-3">
    Site par Frédéric Malard, photo d'en tête par 
    <a href="https://pixabay.com/fr/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1283525">
        Pexels
    </a>
    de 
    <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1283525">
        Pixabay
    </a>
</p>

{% endblock %}

{% block javascripts %}

    <script src="/js/gestionListeFigures.js"></script>

{% endblock %}