{% extends 'base.html.twig' %}

{% block title %}vérification mail{% endblock %}

{% block body %}

<p>
    Utilisateur non vérifié. Veuillez entrer le code que vous avez reçu par mail.
</p>
<p>
    Renvoyer mail
</p>

{% endblock %}