{% extends 'base.html.twig' %}

{% block title %}nouvelle figure{% endblock %}

{% form_theme form _self %}

{% block body %}

    <div class="container jumbotron">
        <h1 class="text-center mb-5">Nouvelle figure</h1>

        {{ form(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/ajouterVideo.js"></script>
{% endblock %}