{% extends 'base.html.twig' %}

{% block title %}modifier {{ figure.nom }}{% endblock %}

{% form_theme form "manipulationFigures/_collection.html.twig" %}

{% block body %}

    <div class="container jumbotron">
        <h1 class="text-center mb-5">Modifiez la figure</h1>

        {{ form(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/ajouterVideo.js"></script>
{% endblock %}