{% extends 'base.html.twig' %}

{% block title %}modifier {{ figure.nom }}{% endblock %}

{% form_theme form _self %}

{% block body %}

    <div class="container jumbotron">
        <h1 class="text-center mb-5">Modifiez la figure</h1>

        {{ form(form) }}
    </div>

{% endblock %}